In [1]:
import pandas as pd
import os

In [2]:
epw_file = 'POA_TRY_1954.epw'
print(epw_file)
(epw_filename, epw_ext) = os.path.splitext(epw_file)
print(epw_filename)
epw_modifiername = '_modified_mkb'

POA_TRY_1954.epw
POA_TRY_1954

In [3]:
log_file = 'BRA_Porto Alegre-Filho Intl AP_radiation_log.log'
print(log_file)

BRA_Porto Alegre-Filho Intl AP_radiation_log.log

In [4]:
epw_header0 = pd.read_csv(epw_file, nrows=1,header=None,low_memory=False)
epw_header1 = pd.read_csv(epw_file,skiprows=[0], nrows=1, header=None, low_memory=False)
epw_header2 = pd.read_csv(epw_file,skiprows=[0,1], nrows=1, header=None, low_memory=False)
epw_header3 = pd.read_csv(epw_file,skiprows=[0,1,2], nrows=1, header=None, low_memory=False)
epw_header4 = pd.read_csv(epw_file,skiprows=[0,1,2,3], nrows=1, header=None, low_memory=False)
epw_header5 = pd.read_csv(epw_file,skiprows=[0,1,2,3,4], nrows=1, header=None, low_memory=False)
epw_header6 = pd.read_csv(epw_file,skiprows=[0,1,2,3,4,5], nrows=1, header=None, low_memory=False)
epw_header7 = pd.read_csv(epw_file,skiprows=[0,1,2,3,4,5,6], nrows=1, header=None, low_memory=False)

print(epw_header0)
print(epw_header1)
print(epw_header2)
print(epw_header3)
print(epw_header4)
print(epw_header5)
print(epw_header6)
print(epw_header7)

          0                           1   2    3           4       5     6  \
0  LOCATION  Porto Alegre-Filho Intl AP  RS  BRA  TRY Brazil  839710 -30.0

       7    8    9
0 -51.18 -3.0  4.0
                  0   1                                                  2   \
0  DESIGN CONDITIONS   1  2017 ASHRAE Handbook -- Fundamentals - Chapter...

   3        4   5    6    7    8    9   ...   60   61    62   63    64   65  \
0 NaN  Heating   7  3.9  5.8  1.1  4.1  ...  1.3 -0.2  38.5 -1.2  39.3 -2.1

   66   67  68   69
0  40 -3.2  41  0.6

[1 rows x 70 columns]
                        0   1   \
0  TYPICAL/EXTREME PERIODS   6

                                                 2        3     4     5   \
0  Summer - Week Nearest Max Temperature For Period  Extreme  1/20  1/26

                                                  6        7     8     9   \
0  Summer - Week Nearest Average Temperature For ...  Typical  2/ 3  2/ 9

   ...    16    17                                                 18  \
0  ...  6/22  6/28  Autumn - Week Nearest Average Temperature For ...

        19    20    21                                                 22  \
0  Typical  4/19  4/25  Spring - Week Nearest Average Temperature For ...

        23    24     25
0  Typical  9/29  10/ 5

[1 rows x 26 columns]
                    0   1    2   3   4   5      6      7      8      9   ...  \
0  GROUND TEMPERATURES   3  0.5 NaN NaN NaN  24.22  23.27  21.44  19.73  ...

      40     41     42     43     44    45     46     47     48     49
0  21.31  20.66  19.01  17.78  16.99  16.8  17.31  18.33  19.64  20.83

[1 rows x 50 columns]
                           0   1  2  3  4
0  HOLIDAYS/DAYLIGHT SAVINGS  No  0  0  0
            0                                                  1
0  COMMENTS 1  Laborat�rio de Efici�ncia Energ�tica em Edific...
            0                                                  1
0  COMMENTS 2  Downloaded from Climate.Onebuilding.org -- Gro...
              0  1  2     3       4      5      6
0  DATA PERIODS  1  1  Data  Sunday   1/ 1  12/31

In [5]:
df = pd.read_csv(epw_file, skiprows=[0,1,2,3,4,5,6,7], header=None, low_memory=False)

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,2005,1,1,1,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,22.5,16.5,70,100700,...,999,9,999999999,50,0.164,0,88,0.2,0.0,0.0
1,2005,1,1,2,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,21.8,16.2,72,100600,...,999,9,999999999,48,0.164,0,88,0.2,0.0,0.0
2,2005,1,1,3,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,20.5,15.6,75,100600,...,999,9,999999999,46,0.164,0,88,0.2,0.0,0.0
3,2005,1,1,4,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,20.2,15.1,74,100600,...,999,9,999999999,43,0.164,0,88,0.2,0.0,0.0
4,2005,1,1,5,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,19.7,14.9,75,100600,...,999,9,999999999,43,0.164,0,88,0.2,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2005,12,31,20,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,29.8,21.2,61,100600,...,999,9,999999999,79,0.164,0,88,0.2,0.0,0.0
8756,2005,12,31,21,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,27.8,21.1,68,100600,...,999,9,999999999,78,0.164,0,88,0.2,0.0,0.0
8757,2005,12,31,22,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,26.0,20.8,74,100700,...,999,9,999999999,76,0.164,0,88,0.2,0.0,0.0
8758,2005,12,31,23,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,25.0,20.7,79,100700,...,999,9,999999999,76,0.164,0,88,0.2,0.0,0.0
8759,2005,12,31,24,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,23.8,20.5,83,100700,...,999,9,999999999,74,0.164,0,88,0.2,0.0,0.0

In [7]:
log = pd.read_csv(log_file, skiprows=[0,1,2,3,4], header=None)

In [8]:
log

      0   1  2   3   4
0     1   4  6  29  42
1     1   5  6  28  40
2     1   6  6  26  39
3     1   7  6  25  37
4     1   9  6  22  34
..   ..  .. ..  ..  ..
268  12  26  6  44  62
269  12  27  6  42  45
270  12  29  6  39  52
271  12  30  6  38  56
272  12  31  6  36  47

[273 rows x 5 columns]

In [9]:
df[35]=df[1].map(str)+'_'+df[2].map(str)+'_'+df[3].map(str)

In [10]:
log[5]=log[0].map(str)+'_'+log[1].map(str)+'_'+log[2].map(str)

In [11]:
log

      0   1  2   3   4        5
0     1   4  6  29  42    1_4_6
1     1   5  6  28  40    1_5_6
2     1   6  6  26  39    1_6_6
3     1   7  6  25  37    1_7_6
4     1   9  6  22  34    1_9_6
..   ..  .. ..  ..  ..      ...
268  12  26  6  44  62  12_26_6
269  12  27  6  42  45  12_27_6
270  12  29  6  39  52  12_29_6
271  12  30  6  38  56  12_30_6
272  12  31  6  36  47  12_31_6

[273 rows x 6 columns]

In [12]:
df_index=df.loc[df[35]==log[5][0]].index
df_index[0]

77

In [13]:
df.iat[((df.loc[df[35]==log[5][0]]).index)[0],13] = log[3][0]

In [14]:
for i in range (log.shape[0]):
    df_index=df.loc[df[35]==log[5][i]].index
    print(df_index[0])
    
    df.iat[((df.loc[df[35]==log[5][i]]).index)[0],13] = log[3][i]

77
101
125
149
197
245
293
341
389
413
437
461
485
509
533
557
581
605
629
653
677
701
725
749
750
773
774
797
821
822
845
846
869
893
917
941
965
966
989
990
1013
1014
1037
1182
1206
1254
1374
1446
1470
1494
1542
1638
1686
1710
1734
1758
1782
1830
1878
1902
1926
1950
1974
1998
2022
2070
2094
2118
2142
2190
2214
2238
2262
2286
2310
2334
2335
2358
2382
2406
2430
2431
2454
2478
2479
2502
2503
2526
2550
2551
2574
2598
2599
2622
2623
2646
2647
2670
2694
2718
2719
2742
2766
2790
2814
2838
2839
2862
2863
2886
2910
2934
2958
2982
3006
3030
3054
3078
3102
3126
3150
3174
3198
3222
3223
3318
3319
3342
3343
3366
3439
3487
3511
3631
3655
3703
3775
3799
3991
4063
4159
4183
4231
4255
4447
4567
4711
4735
4783
4807
4855
4879
4927
4999
5023
5047
5071
5095
5287
5310
5334
5358
5382
5406
5430
5454
5478
5502
5526
5550
5574
5598
5622
5646
5670
5694
5718
5742
5766
5790
5814
5838
5862
5886
5958
5982
6150
6174
6294
6342
6390
6438
6509
6557
6558
6581
6582
6605
6629
6630
6653
6677
6701
6702
6725
6749
6773
6797
6798
6821
6822
6845
6846
6869
6870
6893
6894
6917
6941
6965
6966
6989
7013
7085
7109
7133
7157
7253
7301
7325
7349
7373
7397
7421
7469
7517
7541
7565
7589
7613
7637
7661
7709
7733
7781
7805
7829
7853
7877
7901
7949
7973
7997
8021
8093
8117
8165
8189
8237
8261
8333
8357
8453
8477
8501
8525
8549
8573
8621
8645
8693
8717
8741

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,2005,1,1,1,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,22.5,16.5,70,100700,...,9,999999999,50,0.164,0,88,0.2,0.0,0.0,1_1_1
1,2005,1,1,2,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,21.8,16.2,72,100600,...,9,999999999,48,0.164,0,88,0.2,0.0,0.0,1_1_2
2,2005,1,1,3,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,20.5,15.6,75,100600,...,9,999999999,46,0.164,0,88,0.2,0.0,0.0,1_1_3
3,2005,1,1,4,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,20.2,15.1,74,100600,...,9,999999999,43,0.164,0,88,0.2,0.0,0.0,1_1_4
4,2005,1,1,5,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,19.7,14.9,75,100600,...,9,999999999,43,0.164,0,88,0.2,0.0,0.0,1_1_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2005,12,31,20,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,29.8,21.2,61,100600,...,9,999999999,79,0.164,0,88,0.2,0.0,0.0,12_31_20
8756,2005,12,31,21,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,27.8,21.1,68,100600,...,9,999999999,78,0.164,0,88,0.2,0.0,0.0,12_31_21
8757,2005,12,31,22,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,26.0,20.8,74,100700,...,9,999999999,76,0.164,0,88,0.2,0.0,0.0,12_31_22
8758,2005,12,31,23,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,25.0,20.7,79,100700,...,9,999999999,76,0.164,0,88,0.2,0.0,0.0,12_31_23
8759,2005,12,31,24,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9?9?9*9*9*9*9C9...,23.8,20.5,83,100700,...,9,999999999,74,0.164,0,88,0.2,0.0,0.0,12_31_24

In [16]:
epw_header0.to_csv(epw_filename+epw_modifiername+'.epw', index=False, header=False)
epw_header1.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header2.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header3.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header4.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header5.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header6.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)
epw_header7.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)



df.to_csv(epw_filename+epw_modifiername+'.epw', index=False, mode='a', header=False)